<form [formGroup]="cardForm">
  <app-input [control]="cardForm.get('fullName')" [label]="fullName"></app-input>
  <app-input [control]="cardForm.get('cardNumber')" [label]="cardNumber"></app-input>
  <app-input [control]="cardForm.get('expiration')" [label]="expiration"></app-input>
  <app-input [control]="cardForm.get('cvvNumber')" [label]="cvvNumber"></app-input>
</form>

<!-- <div>Form Content : {{cardForm.value | json}}</div>
<div>Form is valid: {{cardForm.valid}}</div>
<div>Errors name: {{cardForm.controls.fullName.errors | json}}</div> -->

